.v-tooltip__content {
  background: #1d1d1d !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.v-treeview-node__label {
  font-size: 0.97rem !important
}

.grey-back {
  background-color: #424242
}

.v-treeview {
  padding: 8px
}