.v-tooltip__content {
  background: #1d1d1d !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.grey-back {
  background-color: #424242;
}

.v-stepper__content {
  padding: 0 !important;
}

.weather {
  font-size: 80px !important;
}

.title-des {
  color: #ffffff81;
}

.dashboard::-webkit-scrollbar {
  display: none;
}

.clickable-tr {
  cursor: pointer;
}

td {
  font-size: 14px !important;
}
