.v-tooltip__content {
  background: #1d1d1d !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.v-treeview-node__label {
  font-size: 0.97rem !important
}

.grey-back {
  background-color: #424242
}

.v-treeview {
  padding: 8px
}

.container {
  padding: 15px !important
}

.theme--dark.v-table, .v-datatable__actions {
  background: transparent !important
}

.v-treeview-node__label {
  user-select: none;
  -webkit-user-select: none
}

.v-toolbar__title {
  font-size: 17px !important
}

.v-toolbar__content {
  padding: 0 15px !important
}